main {
  margin: auto;
  width: 1000px;
  height: 1500px;
  background-color: navy;
  font-family: Helvetica;
}

h1 {
  font-size: 42px;
  text-align: center;
  text-decoration: underline;
  color: burlywood;
  margin: auto;
  padding: 100px 0 60px 0;
}

h2>a {
  color: white;
}

h2 {
  font-family: Helvetica;
  text-align: center;
  padding-bottom: 20px;
  color: white;
}

ul,
li,
a {
  color: gold;
}
